* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  height: 100%;
  background: #fafafa;
}
body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
a,
a:hover,
a:active,
a:focus{
  color:#000;
  text-decoration:none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.mint-spinner-snake {
  margin: 0 auto;
}
.page-infinite-wrapper .more_loading span:first {
  padding-top: 10px;
}

.logo {
  padding: 15px;
  text-align: center;
  background-color: #ecf6fb;
}
.mint-ui-title {
  margin-top: 10px;
  font-size: 30px;
  color: #26a2ff;
}
.mint-home-desc {
  margin-top: 10px;
  font-size: 20px;
  color: #26a2ff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #bde5f5;
  z-index: 1000;
  background: #fff;
}
#header .tohomepage {
  float: left;
}
#header .goback {
  float: right;
}
#header .tohomepage,
#header .goback {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  padding: 0 5px;
}
#header .examplename {
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  color: rgb(0, 204, 255);
}
#header+* {
  margin-top: 40px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 2px solid #bde5f5;
  line-height: 40px;
  z-index: 1000;
  background: #fff;
}
.page{
  height: calc(100vh - 90px);
  overflow-y: auto;
}
